#label{
    display:block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;

}

.btn{
    background-color: aqua;
    border-radius: 5px;
    border-color: black;
    padding: 10px 20px;
    cursor:pointer;

}

#div{
    text-align: center;
    margin-top: 20px;
}